<h2>{{provider.businessName || "New provider"}}</h2>
<div>
    <edit-field label="Business Name" ng-model="provider.businessName"></edit-field>
    <edit-field label="City" ng-model="provider.city"></edit-field>
    <edit-field label="Npi Number" ng-model="provider.npiNumber"></edit-field>
    <edit-field label="Tax Id" ng-model="provider.taxId"></edit-field>

    <div>
        <button ng-click="save()">Save</button>
    </div>

    <section>
        <h3>Users</h3>
        <div ng-controller="providerPermissions">
            <ul ng-repeat="user in users()">
                <li class="list-unstyled">
                    {{user.user.name}}
                    <div style="display: inline-block; background-color: #62abea; border-color: #357ebd;" ng-repeat="role in user.roles">
                        <button class="btn-primary" ng-click="revoke(user, role)">x</button>{{role}}
                    </div>
                    <button class="btn-primary" ng-click="grant(user)">+</button>
                </li>
            </ul>
        </div>
        <hr/>   
        <div ng-controller="inviteController">
            <input type="text" ng-model="email" /><button ng-click="invite()">Invite</button>
        </div>
    </section>
</div>
