<h2>Patient</h2>
<div>
    <fieldset>
        <legend>About <a href="#/patient/{{patient.patientId}}/edit" class="btn btn-sm">Edit</a></legend>
        <display-field label="Name" ng-model="patient.name"></display-field>
        <display-field label="Date of birth" ng-model="patient.dateOfBirth"></display-field>
        <display-field label="Gender" ng-model="patient.gender"></display-field>
    </fieldset>
    <fieldset>
        <legend>Contact information <a href="#/patient/{{patient.patientId}}/contact/edit" class="btn btn-sm">Edit</a></legend>
        <display-address ng-model="patient"></display-address>
        <display-field label="Phone Number" ng-model="patient.phoneNumber"></display-field>
    </fieldset>
    <fieldset ng-if="patient.medicalInsurance">
        <legend>Medical Insurance<a href="#/patient/{{patient.patientId}}/insurance/edit" class="btn btn-sm">Add or edit?</a></legend>
        <display-field label="Company" ng-model="patient.medicalInsurance.insuranceCompany"></display-field>
        <display-field label="Provider Number" ng-model="patient.medicalInsurance.providerPhoneNumber"></display-field>
        <display-field label="Plan" ng-model="patient.medicalInsurance.plan"></display-field>
        <display-field label="Insurance Id" ng-model="patient.medicalInsurance.insuranceId"></display-field>
        <display-field label="Group Id" ng-model="patient.medicalInsurance.groupNumber"></display-field>
    </fieldset>
    <fieldset ng-if="patient.personalInjuryProtection">
        <legend>Personal Injury Protection<a href="#/patient/{{patient.patientId}}/insurance/edit" class="btn btn-sm">Add or edit?</a></legend>
        <display-field label="Date Of Injury" ng-model="patient.personalInjuryProtection.dateOfInjury"></display-field>
        <display-field label="Place Of Accident" ng-model="patient.personalInjuryProtection.placeOfAccident"></display-field>
        <display-field label="Insurance Carrier" ng-model="patient.personalInjuryProtection.insuranceCarrier"></display-field>
        <display-field label="Policy Number" ng-model="patient.personalInjuryProtection.policyNumber"></display-field>
        <display-field label="Claim Number" ng-model="patient.personalInjuryProtection.claimNumber"></display-field>
        <display-field label="Insurance Address" ng-model="patient.personalInjuryProtection.insuranceCompanyAddress"></display-field>
        <display-field label="Adjuster Name" ng-model="patient.personalInjuryProtection.adjusterName"></display-field>
        <display-field label="Adjuster Phone" ng-model="patient.personalInjuryProtection.adjusterPhone"></display-field>
        <display-field label="Injury" ng-model="patient.personalInjuryProtection.injury"></display-field>
        <display-field label="Notes" ng-model="patient.personalInjuryProtection.notes"></display-field>
    </fieldset>

    <div class="row"><a href="#/patient/{{patient.patientId}}/insurance/requestVerify" class="btn btn-sm">Request verification</a></div>
    <div class="row"><a href="#/patient/{{patient.patientId}}/insurance/verify" class="btn btn-sm">Process verification</a></div>

    <a ng-if="!patient.personalInjuryProtection && !patient.medicalInsurance" href="#/patient/{{patient.patientId}}/insurance/edit" class="btn btn-default">Add Insurance</a>
</div>
