<h2>{{patient.name}}</h2>
<div>
    <fieldset>
        <legend>About <a href="#/patient/edit/{{patient.patientId}}" class="btn btn-sm">Edit</a></legend>
        <div class="row"><div class="col-md-2"><label>Date of birth</label></div><div class="col-md-4">{{patient.dateOfBirth}}</div></div>
        <div class="row"><div class="col-md-2"><label>Gender</label></div><div class="col-md-4">{{patient.gender}}</div></div>
    </fieldset>
    <fieldset>
        <legend>Contact information <a class="btn btn-sm">Edit</a></legend>
        <div class="row">
            <div class="col-md-2">
                <label>Address</label>
            </div>
            <div class="col-md-4">
                <div class="row">{{patient.address}}</div>
                <div class="row">{{patient.city}}, {{patient.state}} {{patient.postalCode}}</div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Insurance<a class="btn btn-sm">Add or edit?</a></legend>
        <div class="row"><div class="col-md-2"><label>Company</label></div><div class="col-md-4">{{patient.insurance.company}}</div></div>
        <div class="row"><div class="col-md-2"><label>Phone Number</label></div><div class="col-md-4">{{patient.insurance.phoneNumber}}</div></div>
        <div class="row"><div class="col-md-2"><label>Provider Number</label></div><div class="col-md-4">{{patient.insurance.providerNumber}}</div></div>
        <div class="row"><div class="col-md-2"><label>Plan</label></div><div class="col-md-4">{{patient.insurance.plan}}</div></div>
        <div class="row"><div class="col-md-2"><label>Insurance Id</label></div><div class="col-md-4">{{patient.insurance.insuranceId}}</div></div>
        <div class="row"><div class="col-md-2"><label>Group Id</label></div><div class="col-md-4">{{patient.insurance.groupNumber}}</div></div>

    </fieldset>
    <a href="#/patient/insurance/{{patient.patientId}}/edit" class="btn btn-default">Insurance</a>
</div>
