<fieldset>
    <legend>Personal Injury Protection</legend>
    <edit-field label="Date Of Injury" field="pip.dateOfInjury"></edit-field>
    <edit-field label="Place Of Accident" field="pip.placeOfAccident"></edit-field>
    <edit-field label="Insurance Carrier" field="pip.insuranceCarrier"></edit-field>
    <edit-field label="Policy Number" field="pip.policyNumber"></edit-field>
    <edit-field label="Claim Number" field="pip.claimNumber"></edit-field>
    <edit-field label="Insurance Address" field="pip.insuranceCompanyAddress"></edit-field>
    <edit-field label="Adjuster Name" field="pip.adjusterName"></edit-field>
    <edit-field label="Adjuster Phone" field="pip.adjusterPhone"></edit-field>
    <edit-field label="Injury" field="pip.injury"></edit-field>
    <edit-field label="Notes" field="pip.notes"></edit-field>
</fieldset>
