<fieldset>
    <legend>Insurance Company</legend>
    <div><label>Date Of Injury</label> <input type="text" ng-model="insurance.dateOfInjury" /></div>
    <div><label>Place Of Accident</label> <input type="text" ng-model="insurance.placeOfAccident" /></div>
    <div><label>Insurance Carrier</label> <input type="text" ng-model="insurance.insuranceCarrier" /></div>
    <div><label>Policy Number</label> <input type="text" ng-model="insurance.policyNumber" /></div>
    <div><label>Claim Number</label> <input type="text" ng-model="insurance.claimNumber" /></div>
    <div><label>Insurance Company Address</label> <input type="text" ng-model="insurance.insuranceCompanyAddress" /></div>
    <div><label>Adjuster Name</label> <input type="text" ng-model="insurance.adjusterName" /></div>
    <div><label>Adjuster Phone</label> <input type="text" ng-model="insurance.adjusterPhone" /></div>
    <div><label>Injury</label> <input type="text" ng-model="insurance.injury" /></div>
    <div><label>Notes</label> <input type="text" ng-model="insurance.notes" /></div>
</fieldset>
