<fieldset>
    <legend>Insurance Company</legend>
    <edit-field label="Company" field="insurance.company"></edit-field>
    <edit-field label="Phone Number" field="insurance.phoneNumber"></edit-field>
    <edit-field label="Provider Number" field="insurance.providerNumber"></edit-field>
    <edit-field label="Plan" field="insurance.plan"></edit-field>
    <edit-field label="Insurance Id" field="insurance.insuranceId"></edit-field>
    <edit-field label="Group Id" field="insurance.groupNumber"></edit-field>
</fieldset>
