<fieldset>
    <legend>Insurance Company</legend>
    <edit-field label="Date Of Injury" field="insurance.dateOfInjury"></edit-field>
    <edit-field label="Place Of Accident" field="insurance.placeOfAccident"></edit-field>
    <edit-field label="Insurance Carrier" field="insurance.insuranceCarrier"></edit-field>
    <edit-field label="Policy Number" field="insurance.policyNumber"></edit-field>
    <edit-field label="Claim Number" field="insurance.claimNumber"></edit-field>
    <edit-field label="Insurance Address" field="insurance.insuranceCompanyAddress"></edit-field>
    <edit-field label="Adjuster Name" field="insurance.adjusterName"></edit-field>
    <edit-field label="Adjuster Phone" field="insurance.adjusterPhone"></edit-field>
    <edit-field label="Injury" field="insurance.injury"></edit-field>
    <edit-field label="Notes" field="insurance.notes"></edit-field>
</fieldset>
