<h2>New patient information</h2>
<div>
    <edit-field label="Patient name" field="patient.name"></edit-field>
    <div>
        Gender:
        <label>
            <input type="radio" ng-model="patient.gender" value="Male">
            Male
        </label>
        <label>
            <input type="radio" ng-model="patient.gender" value="Female">
            Female
        </label>
    </div>
    <edit-field label="Date of birth" type="date" field="patient.dateOfBirth"></edit-field>

    <edit-address field="patient"></edit-address>
    <edit-field label="Phone Number" field="patient.phoneNumber"></edit-field>

    <div>
        <button ng-click="save()">Save</button>
    </div>
</div>
