<h2>New patient information</h2>
<div>
    <edit-field label="Patient name" field="patient.name"></edit-field>
    <edit-choice label="Gender" ng-model="patient.gender" options="[ { label: 'Male', value: 'Male' }, { label: 'Female', value: 'Female' }]"></edit-choice>
    <edit-field label="Date of birth" type="date" field="patient.dateOfBirth"></edit-field>

    <edit-address field="patient"></edit-address>
    <edit-field label="Phone Number" field="patient.phoneNumber"></edit-field>

    <div>
        <button ng-click="save()">Save</button>
    </div>
</div>
