<h2>{{patient.name}}</h2>
<div>
    <div>Patient Name: <span>{{patient.name}}</span></div>
    <div>Gender: <span>{{patient.gender}}</span></div>
    <div>Date of birth: <span>{{patient.dateOfBirth}}</span></div>

    <div>
        Address:
        <div style="display: inline-block">
            <div><span>{{patient.address1}}</span></div>
            <div><span>{{patient.address2}}</span></div>
        </div>
        <div>City: <span>{{patient.city}}</span></div>
        <div>State: <span>{{patient.state}}</span></div>
        <div>Zip Code: <span>{{patient.postalCode}}</span></div>
    </div>
</div>
