<div>
    <table st-table="patients" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="patient in patients">
            <td><a href="#patient/{{patient.patientId}}">{{patient.name}}</a></td>
            <td>{{patient.dateOfBirth | date:'mediumDate'}}</td>
        </tr>
        </tbody>
    </table>
    <a href="#patient/intake" class="btn btn-default">Intake</a>
</div>