<h2>{{patient.name}}</h2>
<div>
    <div>
        <fieldset>
            <legend>About <a class="btn active">Edit</a></legend>
            <div>Gender: <span>{{patient.gender}}</span></div>
            <div>Date of birth: <span>{{patient.dateOfBirth}}</span></div>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Contact information <a class="btn active">Edit</a></legend>
            Address:
            <div style="display: inline-block">
                <div><span>{{patient.address1}}</span></div>
                <div><span>{{patient.address2}}</span></div>
            </div>
            <div>City: <span>{{patient.city}}</span></div>
            <div>State: <span>{{patient.state}}</span></div>
            <div>Zip Code: <span>{{patient.postalCode}}</span></div>
        </fieldset>
    </div>
</div>
