<fieldset>
    <legend>Insurance Company</legend>
    <div><label>Company</label> <input type="text" ng-model="" /></div>
    <div><label>Phone Number</label> <input type="text" ng-model="" /></div>
    <div><label>Provider Number</label> <input type="text" ng-model="" /></div>
    <div><label>Plan</label> <input type="text" ng-model="" /></div>
    <div><label>Insurance Id</label> <input type="text" ng-model="" /></div>
    <div><label>Group Id</label> <input type="text" ng-model="" /></div>
</fieldset>

