<h2>Verify Insurance</h2>

<div>
    <displayField label="Insurance Carrier" field="carrier"></displayField>
    Phone # 632-543-2647
    Acupuncturist: Test Demo
    NPI #1456789234
    Tax ID # 324-35-3455
    Address: addr gg, Alabama, 12345
    Phone Number: 234-523-6253
    Patient Name: Amit Garg
    DOB: 12/03/2014
    Insurance Policy/Plan # test2Id
</div>


<div>
    Is the patient covered for In-Network acupuncture services when provided by a Licensed Acupuncturist (L.Ac.)?
    YesNo
    Are there any Acupuncture Diagnosis Requirements or Restrictions (Procedure Code: 97810)?
    YesNo

    Is a Referral Required?
    YesNo
    From Who?
    Are any Pre-certifications or Pre-authorizations required?
    YesNo
    How is it obtained?
    Is there an Office Visit Copay?
    YesNo
    Copay Amount: $per visit.
    Is this a calendar year plan?
    YesNo
    Plan Begin
    Plan End
    Comments
    Is there a deductible?
    YesNo
    Individual Deductible of $per calendar year,
    of which $has been met.
    Family Deductible of $per calendar year,
    of which $has been met.
    Insurance covers the patient at% of approved charges.
    Patient's responsibility is % of all billed services.
    Is there an Out-of-Pocket Maximum?
    YesNo
    Individual Out-of-Pocket Maximum is $per calendar year,
    of which $has been met.
    Family Out-of-Pocket Maximum is $per calendar year,
    of which $has been met.
    Is deductible applied towards Out-of-Pocket
    YesNo
    Is there a limit on the number of visits allowed per year?
    YesNo
    Number of allowed visits:
    Number of visits used this year:
    Remaining visits for this year:
    Can a licensed acupuncturist bill for code 99203 (evaluations/exams)?
    YesNo
    Can a licensed acupuncturist bill for the following code(s) without pre-authorization or pre-certification?

    Other limits or provisions with regard to acupuncture services:
    Verification Status
    Complete

    Service Center Representative
    Call Reference Number
    Call Time
    Assign To
    -Select-

    Submit
</div>

// save verification draft
// submit verified
// send back for bad information


