version: 1.0.{build}
os: Visual Studio 2015 CTP 6
install:
- set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
nuget:
  account_feed: true
before_build:
- nuget restore
build:
  publish_wap: true
  verbosity: detailed
deploy:
- provider: WebDeploy
  server: 52.0.7.4
  website: AllAcu
  username: WDeployAdmin
  password:
    secure: bV5ieY1+BR+y1jdDh08nQA==
  ntlm: true
  remove_files: true
  artifact: 