version: 1.0.{build}
os: Visual Studio 2015
install:
- set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
- dnvm install 1.0.0-beta8
nuget:
  account_feed: true
before_build:
 - nuget restore .\Api\packages.config -PackagesDirectory .\packages
 - npm install -g gulp
 - dnu restore
build:
  publish_wap: true
  verbosity: normal
deploy:
- provider: WebDeploy
  server: 52.0.7.4
  website: AllAcu
  username: WDeployAdmin
  password:
    secure: TWuEksFzz0vSuL4zfjMF1HHrFepX3yqNuYEkvlKTwaU=
  ntlm: true
  remove_files: true
  artifact: 
