version: 1.0.{build}
os: Visual Studio 2015
install:
- set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
- dnvm install 1.0.0-beta8
nuget:
  account_feed: true
before_build:
- appveyor DownloadFile https://raw.githubusercontent.com/appveyor/ci/master/scripts/nuget-restore.cmd
- .\nuget-restore.cmd .\Api\packages.config -PackagesDirectory .\packages
- npm install -g gulp
- dnu restore
build:
  publish_wap: true
  verbosity: normal
artifacts:
- path: ./artifacts/bin/Site/Release/PublishOutput
  name: Site
  type: WebDeployPackage
- path: ./artifacts/bin/Api/Release/Api.zip
  name: Api
  type: WebDeployPackage
deploy:
- provider: WebDeploy
  server: 52.0.7.4
  website: AllAcu
  username: WDeployAdmin
  password:
    secure: qgom/B6r4+K/+JjUZDDUZq4GYTv5aYQkr8Y5Y8Oa5hQ=
  ntlm: true
  remove_files: true
  artifact: Site
  aspnet5: true
- provider: WebDeploy
  server: 52.0.7.4
  website: AllAcu
  username: WDeployAdmin
  password:
    secure: qgom/B6r4+K/+JjUZDDUZq4GYTv5aYQkr8Y5Y8Oa5hQ=
  ntlm: true
  remove_files: true
  artifact: Api
