@using Its.Configuration
<!DOCTYPE html>
@{
    Layout = null;
}

<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/humanize-duration/humanize-duration.js"></script>
    <script src="~/lib/momentjs/moment.js"></script>
    <script src="~/lib/angular-timer/dist/angular-timer.js"></script>
    <script src="~/js/acuApp.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container" ng-include="'/Templates/Site/nav.html'"></div>
        </div>

        @RenderBody()
    </div>

    <div class="container" ng-include="'/Templates/Site/footer.html'"></div>
</body>
@RenderSection("scripts", required: false)
</html>
