@{
    Layout = "_Minimal.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("All Acu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/AllAcu/#/verifications">Verifications</a></li>
                <li><a href="/AllAcu/#/patients">Patients</a></li>
                <li><a href="/AllAcu/#/users">Users</a></li>
                <li><a href="/AllAcu/#/claims">Claims</a></li>
                <li><a href="/AllAcu/#/provider/create">New Provider</a></li>
                <li><a href="/AllAcu/#/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>

@RenderBody()
