@{
    Layout = "../Shared/_Minimal.cshtml";
    ViewBag.Title = "Claims";
}

@Scripts.Render("~/Scripts/Claims/App.js")
@Scripts.Render("~/Scripts/Claims/ClaimsRepository.js")
@Scripts.Render("~/Scripts/Claims/CareProviderRepository.js")
@Scripts.Render("~/Scripts/Claims/PatientRepository.js")


<div>
    <div ng-view></div>
</div>

