@{
    Layout = "../Shared/_Minimal.cshtml";
    ViewBag.Title = "Claims";
}

@Scripts.Render("~/Scripts/Claims/App.js")
@Scripts.Render("~/Scripts/Claims/ClaimsRepository.js")


<div ng-app="claimsApp">
    <div ng-view></div>
</div>

