@using Microsoft.Its.Domain.Serialization
@model Api.Models.ClaimsIndex

@{
    Layout = "../Shared/_Minimal.cshtml";
    ViewBag.Title = "Claims";
}

@Scripts.Render("~/Scripts/Claims/App.js")
@Scripts.Render("~/Scripts/Claims/ClaimsRepository.js")

    <script>
        $(function () {
            var draftsz = [
                @foreach (var draft in Model.Claims)
            {
                @Html.Raw(draft.ToJson())
                <text>,</text>
            }
            ];



        });

    </script>


    <div ng-app="claimsApp">
        <div ng-controller="claimsList">
            <ul>
                <li ng-repeat="draft in drafts">
                    <span>{{draft.patient}}</span>
                    <p>{{draft.diagnosis}}</p>
                </li>
            </ul>

            <button ng-click="grab()">Grab</button>
        </div>

    </div>


