<div class="jumbotron">
    <h1>All Acu</h1>
    <p class="lead">Welcome to AllAcu</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Claims</h2>
        <p>Check up on your claims</p>
        <p><a class="btn btn-default" href="/claims">Check now &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Second section</h2>
        <p>A second section</p>
    </div>
    <div class="col-md-4">
        <h2>Third section</h2>
        <p>More things</p>
    </div>
</div>

