<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">All Acu</a>
</div>

<div class="navbar-collapse collapse" ng-controller="nav">
    <ul class="nav navbar-nav">
        <li ng-repeat="item in navItems()"><a href="{{item.link}}">{{item.label}}</a></li>

        <li class="providers">
            <span ng-controller="header" ng-show="available()">
                <select ng-model="currentProvider"
                        ng-model-options="{ getterSetter: true }"
                        ng-options="p.businessName for p in providers()"></select>
            </span>
        </li>
    </ul>
</div>
