body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

html, body {
    height: 100%;
    position: relative;
    min-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

li.providers {
    line-height: 50px;
    margin-left: 20px;
}

li.providers select {
    display: inline-block;
    width: auto;
    margin-left: 10px;
}

.footer {
    bottom: 0;
    width: 95%;
    height: 40px;
    padding-top: 15px;
}

body > .container {
    padding: 40px 15px 0;
}

fieldset.question .checkbox {
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content {
    padding: 10px;
}

.actions-content {
    margin: 10px;
}

.assignment li {
    line-height: 24px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.assignment li:hover {
    background-color: #eef;
}
.assignment .selected {
    background-color: #ddf;
}

.assignment button {
    margin-top: 10px;
}

.assignment.roles {
    width: 250px;
}

.verification {
    margin-top: -20px;
}

.request div.heading label {
    font-size: 14px;
    font-weight: bold;
    color: #00008b;
}

.request display-field label {
    font-size: 11px;
    font-weight: normal;
    color: #00008b;
}

.request display-field div.displayLabel {
    display: block;
}

.request display-field div.displayValue {
    font-weight: bold;
    padding-left: 15px;
}

.actions .timer {
    padding-left: 10px;
}
