body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

html, body {
    height: 100%;
    position: relative;
    min-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

li.providers {
    line-height: 50px;
    margin-left: 20px;
}

li.providers select {
    display: inline-block;
    width: auto;
    margin-left: 10px;
}

.footer {
    bottom: 0;
    width: 95%;
    height: 40px;
    padding-top: 15px;
}

body > .container {
    padding: 40px 15px 0;
}

.actions input[type=button] {
    width: 100%;
}

fieldset.question .checkbox {
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content {
    padding: 10px;
}

.actions-content {
    margin: 10px;
}

.assignment li {
    line-height: 24px;
}

.assignment .selected {
    background-color: #ddd;
}

.roleChooser .selected {
    background-color: #ddd;
}