Specialty {{provder.specialty}}
Provider {{provider.name}}
Verification Status {{verification.status}}

The patient {{benefits.isCovered ? "is" : "is not"}}covered for In-Network acupuncture services when provided by a Licensed Acupuncturist (L.Ac.)
Are there any Acupuncture Diagnosis Requirements or Restrictions (Procedure Code: 97810)? Yes  only medlly necessary
Is a Referral Required? Yes From Who?  COMPANY
Are any Pre-certifications or Pre-authorizations required? Yes   How is it obtained?   call 1800- 242-74747
Is there an Office Visit Copay? Yes  $30 per visit.
Is this a calendar year plan? No
Plan Begin 01/08/2015
Plan End 01/14/2015
Comments No calendar comment
Is there a deductible? Yes
*Individual Deductible of $500 per calendar year,of which $222 has been met.
*Family Deductible of $600 per calendar year,of which $122 has been met.
Once the deductible has been met, insurance will cover the patient at 60% of approved charges; Patient's responsibility being 40% of all billed services.
Is there an Out-of-Pocket Maximum? Yes
*Individual Out-of-Pocket Maximum is $500 per calendar year, of which $50 has been met.
*Family Out-of-Pocket Maximum is $600 per calendar year, of which $150 has been met.
Once the out-of-pocket maximum has been met, the patient will be covered for acupuncture at 100% of approved charges.
Number of Allowed Visits Per Calendar Year 15
* How Many Visits Have Already Been Used This Year? 6
IMPORTANT: * This patient has 9 remaining covered visits for this calendar year. Please be sure to keep track of this patient's visits to ensure that you do not go over the allowed amount
Are Evaluations Billable? Yes
Please note, that although the following services/modalities may be billable, they must fall within your particular state's 'Scope of Practice' for acupuncturists in order for you to provide and/or bill for them. In addition, some insurance companies may require a review of your medical notes prior to approving or denying payment of these services regardless of the fact that they report to us that they are billable:
Other limits or provisions with regard to acupuncture services: None noted
Verified by: AllAcuServices member
Verification Date: 01-14-2015 11:28
Service Center Representative: SARA
Call Reference Number: 123123
Call Time: 12min
Please note that in some cases, insurance companies can "backout" on payments, mis-quote benefits, and even reject claims outright. And, even though we have not found this to be a common occurrence, we cannot, and will not guarantee payment based on benefit eligibility quotes received at the time of benefit verification. We will always do our best to help you determine why a particular claim might have been refused or rejected, and will resubmit claims as necessary, but again, no guarantee of payment can be made by AllAcuServices. Please be advised, that you should make it clear to your patients in advance, that they are responsible for full payment should their insurance company fail to pay for your services.
