<div>
    <p>Specialty {{provder.specialty}}</p>
    <p>Provider {{provider.name}}</p>
    <p>Verification Status {{verification.status}}</p>

</div>
<p>
    The patient {{benefits.isCovered ? "is" : "is not"}} covered for In-Network acupuncture services when provided by a Licensed Acupuncturist (L.Ac.)
</p>
<p>
    Are there any Acupuncture Diagnosis Requirements or Restrictions (Procedure Code: 97810)? {{benefits.isPreCertificationRequired ? "yes" : "no"}} - {{benefits.diagnosisRequirement}}
</p>
<p>
    Is a Referral Required? {{benefits.isReferralRequired ? "yes" : "no"}} From Who?  {{benefits.referralSource}}
</p>
<p>
    Are any Pre-certifications or Pre-authorizations required? Yes   How is it obtained?   call 1800- 242-74747
</p>
<p>
    Is there an Office Visit Copay? Yes  $30 per visit.
</p>
<p>
    Is this a calendar year plan? No
</p>
<p>
    Plan Begin 01/08/2015
</p>
<p>
    Plan End 01/14/2015
</p>
<p>
    Comments No calendar comment
</p>
<p>
    Is there a deductible? Yes
</p>
<p>
    *Individual Deductible of $500 per calendar year,of which $222 has been met.
</p>
<p>
    *Family Deductible of $600 per calendar year,of which $122 has been met.
</p>
<p>
    Once the deductible has been met, insurance will cover the patient at 60% of approved charges; Patient's responsibility being 40% of all billed services.
</p>
<p>
    Is there an Out-of-Pocket Maximum? Yes
</p>
<p>
    *Individual Out-of-Pocket Maximum is $500 per calendar year, of which $50 has been met.
</p>
<p>
    *Family Out-of-Pocket Maximum is $600 per calendar year, of which $150 has been met.
</p>
<p>
    Once the out-of-pocket maximum has been met, the patient will be covered for acupuncture at 100% of approved charges.
</p>
<p>
    Number of Allowed Visits Per Calendar Year 15
</p>
<p>
    * How Many Visits Have Already Been Used This Year? 6
</p>
<p>
    IMPORTANT: * This patient has 9 remaining covered visits for this calendar year. Please be sure to keep track of this patient's visits to ensure that you do not go over the allowed amount
</p>
<p>
    Are Evaluations Billable? Yes
</p>
<p>
    Please note, that although the following services/modalities may be billable, they must fall within your particular state's 'Scope of Practice' for acupuncturists in order for you to provide and/or bill for them. In addition, some insurance companies may require a review of your medical notes prior to approving or denying payment of these services regardless of the fact that they report to us that they are billable:
</p>
<p>
    Other limits or provisions with regard to acupuncture services: None noted
</p>
<p>
    Verified by: AllAcuServices member
</p>
<p>
    Verification Date: 01-14-2015 11:28
</p>
<p>
    Service Center Representative: SARA
</p>
<p>
    Call Reference Number: 123123
</p>
<p>
    Call Time: 12min
</p>
<p>
    Please note that in some cases, insurance companies can "backout" on payments, mis-quote benefits, and even reject claims outright. And, even though we have not found this to be a common occurrence, we cannot, and will not guarantee payment based on benefit eligibility quotes received at the time of benefit verification. We will always do our best to help you determine why a particular claim might have been refused or rejected, and will resubmit claims as necessary, but again, no guarantee of payment can be made by AllAcuServices. Please be advised, that you should make it clear to your patients in advance, that they are responsible for full payment should their insurance company fail to pay for your services.
</p>
