<h2>Verifications</h2>

<table st-table="verifications" class="table table-striped">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Status</th>
            <th>Provider</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="verification in verifications()">
            <td> <a href='{{link(verification)}}'>{{verification.patientName || "____"}}</a></td>
            <td>{{verification.status}}</td>
            <td>{{verification.provider}}</td>
            <td>{{verification.comments}}</td>
        </tr>
    </tbody>
</table>
