<div>

    <h2>Verify Insurance</h2>

    <div>
        <display-field label="Insurance Carrier" ng-model="patient.carrier"></display-field>
        <display-field label="Phone #" ng-model="patient.phone"></display-field>
        <display-field label="Acupuncturist" ng-model="patient.accupuncturist"></display-field>
        <display-field label="NPI #" ng-model="patient.npiNumber"></display-field>
        <display-field label="Tax ID #" ng-model="patient.taxId"></display-field>
        <display-field label="Address" ng-model="patient.address"></display-field>
        <display-field label="Phone Number" ng-model="patient.phoneNumber"></display-field>
        <display-field label="Patient Name" ng-model="patient.name"></display-field>
        <display-field label="Date of Birth" ng-model="patient.dateOfBirth"></display-field>
        <display-field label="Insurance Policy/ Plan" ng-model="patient.insurancePolicy"></display-field>
    </div>


    <div>
        <label>
            Is the patient covered for In-Network acupuncture services when provided by a Licensed Acupuncturist (L.Ac.)?
        </label>
        <edit-yes-no ng-model="verification.isCovered"></edit-yes-no>

        <div ng-show="verification.isCovered">
            <label>
                Are there any Acupuncture Diagnosis Requirements or Restrictions (Procedure Code: 97810)?
            </label>
            <edit-yes-no ng-model="verification.isDiagnosisRequirement"></edit-yes-no>
            <edit-field ng-model="verification.diagnosisRequirement" ng-show="verification.isDiagnosisRequirement"></edit-field>

            <label>Is a Referral Required?</label>
            <edit-yes-no ng-model="verification.isReferralRequired"></edit-yes-no>
            <edit-field label="From Who?" ng-model="verification.diagnosisRequirement" ng-show="verification.isReferralRequired"></edit-field>

            <label>Are any Pre-certifications or Pre-authorizations required?</label>
            <edit-yes-no ng-model="verification.isPreCertificationRequired"></edit-yes-no>
            <edit-field label="How is it obtained?" ng-model="verification.preCertification" ng-show="verification.isPreCertificationRequired"></edit-field>


            <label>Is there an Office Visit Copay?</label>
            <edit-yes-no ng-model="verification.isOfficeVisitCopay"></edit-yes-no>
            <edit-field label="Copay Amount per visit" ng-model="verification.officeVisitCopay" ng-show="verification.isOfficeVisitCopay"></edit-field>


            <label>Is this a calendar year plan?</label>
            <edit-yes-no ng-model="verification.isCalendarYearPlan"></edit-yes-no>
            <div ng-show="verification.isCalendarYearPlan">
                <edit-field label="Plan begin" type="date" ng-model="verification.calendarYearPlanBegin"></edit-field>
                <edit-field label="Plan end" type="date" ng-model="verification.calendarYearPlanEnd"></edit-field>
                <edit-field label="Comments" ng-model="verification.calendarYearComments"></edit-field>
            </div>

            <label>Is there a deductible?</label>
            <edit-yes-no ng-model="verification.isDeductable"></edit-yes-no>
            <div ng-show="verification.isDeductable">
                <edit-field label="Annual Individual deductable" ng-model="verification.individualDeductable"></edit-field>
                <edit-field label="used" ng-model="verification.individualDeductableUsed"></edit-field>
                <edit-field label="Annual family deductable" ng-model="verification.familyDeductable"></edit-field>
                <edit-field label="used" ng-model="verification.familyDeductableUsed"></edit-field>
            </div>

            <edit-field label="Insurance covers the patient at% of approved charges." ng-model="verification.insurancePercentResponsibility"></edit-field>
            <edit-field label="Patient's responsibility percent of all billed services." ng-model="verification.patientPercentResponsiblity"></edit-field>


            <label>Is there an Out-of-Pocket Maximum?</label>
            <edit-yes-no ng-model="verification.isOutOfPocketMaximum"></edit-yes-no>
            <div ng-show="verification.isOutOfPocketMaximum">
                <edit-field label="Individual annual Out-of-Pocket Maximum" ng-model="verification.annualIndividualOutOfPocketMaximum"></edit-field>
                <edit-field label="used" ng-model="verification.annualIndividualOutOfPocketMaximumUsed"></edit-field>
                <edit-field label="Family annual out-of-pocket maximum" ng-model="verification.annualFamilyOutOfPocketMaximum"></edit-field>
                <edit-field label="used" ng-model="verification.annualFamilyOutOfPocketMaximumUsed"></edit-field>
            </div>

            <label>Is deductible applied towards Out-of-Pocket</label>
            <edit-yes-no ng-model="verification.isDeductableAppliedTowardOutOfPocket"></edit-yes-no>

            <label>Is there a limit on the number of visits allowed per year?</label>
            <edit-yes-no ng-model="verification.isAnnualVisitLimit"></edit-yes-no>
            <div ng-show="verification.isAnnualVisitLimit">
                <edit-field label="Number of allowed visits" ng-model="verification.annualVisitLimit"></edit-field>
                <edit-field label="Number of visits used this year" ng-model="verification.annualVisitsUsed"></edit-field>
                <edit-field label="Remaining visits for this year" ng-model="verification.annualVisitsRemaining"></edit-field>
            </div>

            <label>Can a licensed acupuncturist bill for code 99203 (evaluations/exams)?</label>
            <edit-yes-no ng-model="verification.isBillableForCode99203"></edit-yes-no>

            <label>Can a licensed acupuncturist bill for the following code(s) without pre-authorization or pre-certification?</label>

            <edit-field label="Number of allowed visits" ng-model="verification.annualVisitLimit"></edit-field>

            <label>Other limits or provisions with regard to acupuncture services</label>
            </div>

        <div>

            <edit-field label="Verification Status" ng-model="verification.approval.status"></edit-field>

            <edit-field label="Service Center Representative" ng-model="verification.approval.serviceCenterRepresentative"></edit-field>
            <edit-field label="Call Reference Number" ng-model="verification.approval.callReferenceNumber"></edit-field>
            <edit-field label="Call Time" ng-model="verification.approval.callTime"></edit-field>
            <edit-field label="Assign To" ng-model="verification.approval.assignedTo"></edit-field>
        </div>
        <input type="button" value="Submit" ng-click="save()" />
    </div>

    <!--save verification draft
    submit verified
    send back for bad information-->

</div>
