<div class="jumbotron">
    <h1>All Acu</h1>
    <p class="lead">Welcome to AllAcu</p>
</div>
<div class="row">
    <p>
        Is your acupuncture practice losing patients and valuable income because you don't accept medical insurance?
        Are you a newly licensed practitioner, worried and confused about entering the unfamiliar realm of insurance billing?
        Are you an experienced insurance-taking practitioner, frustrated by the time consuming complications of the billing
        process or simply dissatisfied with your current biller?
    </p>
    <p>
        As an Acupuncturist, putting your insurance billing in our hands may be one of the best business decisions that you will ever make.
        At AllAcuServices, LLC, we understand your needs.
        Our business was developed by an acupuncturist who faced the same concerns that you do in your clinical practice.
        Our focus is on billing for acupuncturists, so that we can provide you with the best service possible within your field.
        And, maintaining open lines of communication with you is a top priority.
    </p>
    <p>
        We can take the worry out of insurance billing.
        Let us handle the claims and billing while you focus on patient care and building your practice.
    </p>
    <p> Our services include complete benefit verification, claims submission, and follow-up on outstanding and/or denied claims.</p>
</div>
